<div class="part-template col-3">  

    <% if book.errors.any? %>
      <%= book.errors.count %>error
      <%= book.errors.full_messages.each do |msg| %>
       <%= msg %>
      <% end %>
    <% end %>
    
 <div class="user-info">
  <h2>User info</h2>
  <table class="temp-table">
    <tr><td><%= attachment_image_tag user, :profile_image, :fill,90,90, format:'jpg', fallback: "no_image.jpg" %></td></tr>
    <tr><th>name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.name %></th></tr>
    <tr><th>introduction</th></tr>
    <tr><td><%= user.introduction %></td></tr>
  </table>
  <%= link_to "" , edit_user_path(current_user), class:"fas fa-wrench btn btn-block btn-default" %>
 </div>


  <%= form_for(book) do |f| %>
    <div class="new-book">
      <h2>New book</h2>
      <h5>Title</h5>
      <%= f.text_field :title %>
      <h5>Opinion</h5> 
      <%= f.text_area :body %>
      <%= f.submit "Create Book", class:"btn btn-block btn-primary" %>
    </div>
  <% end %>

</div>

