<!DOCTYPE html>
<html>
  <head>
    <title>BookersApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<div id="header">
  <nav>
      <div class="nav-content clearfix">
       <p class="nav-logo pull-left" ,style:"margin-left:190px;">Bookers</p>
        <ul class="nav navbar-nav navbar-right sticky-top nav-menu">
          <% if user_signed_in? %>
          <li class="nav-item"><%= link_to " Home", user_path(current_user), class:"fas fa-home"%> </li>
          <li class="nav-item"> <%= link_to " Users", users_path, class:"fas fa-user" %> </li>
          <li class="nav-item"> <%= link_to " Books", books_path, class:"fas fa-book" %> </li>
          <li class="nav-item"> <%= link_to " logout", destroy_user_session_path, method: :delete,class:"fas fa-sign-in-alt" %> </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class:"fas fa-home" %>
          </li>
          <li class="nav-item">
            <%= link_to " About", home_about_path, class:"fas fa-paperclip" %>
          </li>
          <li class="nav-item">
            <%= link_to " sign up", new_user_registration_path, class:"fas fa-pen-square" %>
          </li>
          <li class="nav-item">
            <%= link_to " login", destroy_user_session_path, class:"fas fa-sign-out-alt",method: :delete%>
          </li>
          <% end %>
        </ul>
      </div>
      </nav>
    <div class="container">
      <%= yield %>
      <p class="pull-right">
        CopyRight Infratop.inc
        </p>
    </div>
</div>


</body>
</html>
